.btn {
    margin: 0;
    padding: 0;
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../../../images/EditButton.svg);
    background-repeat: no-repeat;
    object-fit: fill;
    cursor: pointer;
}