@import url(./__contact-info/form-edit__contact-info.css);
@import url(./__field/form-edit__job.css);
@import url(./__save-button/form-edit__save-button.css);

.form-edit {
    margin: 0 auto 23px auto;
    background-color: #ffffff;
    max-width: 358px;
    width: 100%;
}

@media screen and (max-width: 430px) {
    .form-edit {
        max-width: 238px;
        margin-bottom: 25px;        
    }
}