.form-edit__save-button {
    padding: 0;
    width: 100%;
    min-height: 50px;
    border-radius: 2px;
    border: none;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-weight: 1;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
}

.form-edit__save-button:hover {
    opacity: .8;
    transition: opacity .3s ease;
}