.element__delete {
  background-image: url(../../../images/delete.png);
  background-repeat: no-repeat;
  position: absolute;
  cursor: pointer;
  top: 18px;
  right: 15px;
  object-fit: cover;
  content: "";
  z-index: 4;
  max-width: 20px;
  width: 100%;
  min-height: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.element__delete:hover {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
