.form-edit {
  margin: 0 auto 23px auto;
  background-color: #ffffff;
  max-width: 358px;
  width: 100%;
  border-radius: 10px;
  
}

@media screen and (max-width: 430px) {
  .form-edit {
    max-width: 238px;
    margin-bottom: 25px;
  }
}

::placeholder {
  color: #c4c4c4;  
}