@import url(./__close-button/popup-card__close-button.css);
@import url(./__title/popup-card__title.css);
@import url(./_opened/popup-card_opened.css);

.popup-card {
  position: relative;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  max-width: 430px;
  width: 100%;
  z-index: 6;
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 430px) {
  .popup-card {
    max-width: 282px;
  }
}
