.form-edit__save-button {
  max-width: 358px;
  width: 100%;
  min-height: 50px;
  border-radius: 2px;
  border: none;
  background-color: #000000;
  color: #ffffff;
  font-weight: 1;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}

.form-edit__save-button:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.form-edit__save-button:disabled {
  color: #C4C4C4;
 border: 1px solid #C4C4C4;
  background-color: #ffffff;
  pointer-events: none;
  user-select: none;
}

@media screen and (max-width: 430px) {
  .form-edit__save-button {
    max-width: 238px;
  }
}