@import url(./_opened/overlay_opened.css);

.overlay {
    display: none;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    position: fixed;
    background-color: rgba( 0, 0, 0, .5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    z-index: 2;
}