@import url(./__avatar/person-card__avatar.css);
@import url(./__name/person-card__name.css);
@import url(./__job/person-card__job.css);
@import url(./__edit-button/person-card__edit-button.css);
@import url(./__image-button/person-card__image-button.css);
@import url(./__cover/person-card__cover.css);
@import url(./__row/person-card__row.css);


.person-card {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 880px;
    margin: 0 auto;
}

@media screen and (max-width: 920px) {
    .person-card {
        flex-direction: column;
        justify-content: start;
    }
}