.element {
  margin: 0;
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 282px;
  border-radius: 10px;
  position: relative;
}