.person-card__edit-button {
  padding: 0;
  background-image: url(../../../images/EditButton.svg);
  border: none;
  background-repeat: no-repeat;
  background-color: #000000;
  min-width: 24px;
  height: 24px;
  margin: auto 10px;
  display: inline-block;
  cursor: pointer;
}

.person-card__edit-button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}