@import url(./__title/popup-edit__title.css);
@import url(./__close-button/popup-edit__close-button.css);


.popup-edit {
  position: relative;
  background-color: #ffffff;
  margin: 0;
  padding: 0;  
  border-radius: 10px;
  max-width: 430px;
  width: 100%;
  display: block;
}

@media screen and (max-width: 430px) {
  .popup-edit {
    max-width: 282px;
  }
}