@import url(./__title/popup-edit__title.css);
@import url(./__close-button/popup-edit__close-button.css);
@import url(./__container/popup-edit__container.css);

.popup-edit {
  position: fixed;
  top: 19%;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-height: 480px) {
    .popup-edit {
      top: 8%;
    }
  }
  