.form-edit__field {
  box-sizing: border-box;
  max-width: 358px;
  width: 100%;
  min-height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 30px;
}

@media screen and (max-width: 430px) {
  .form-edit__field:last-of-type {
    max-width: 238px;
    margin-bottom: 45px;
  }
}

.form-edit__field:last-of-type {
  border-bottom: 1px solid 48px;
}

.form-edit__field:invalid {
  border-bottom: 1px solid red;
}

.form-edit__field:valid {
  border-bottom: 1px solid green;
}